# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtualenv
.venv/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Env
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
