{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
<section class="about-page">
  <h1>О проекте CineTicket</h1>
  <div class="profile-card">
    <p><strong>Краткое описание сервиса:</strong> CineTicket — учебный веб-сервис для просмотра кино-афиши, выбора фильма и покупки билетов онлайн.</p>
    <p><strong>Цель проекта:</strong> реализовать полноценный Django-проект с авторизацией, каталогом фильмов, избранным и историей покупок.</p>
    <p><strong>Используемые технологии:</strong> Python, Django, SQLite (dev), HTML, CSS, JavaScript, Django Templates, Django ORM.</p>
    <p><strong>Автор:</strong> Сәбит Саян Асхатұлы.</p>
  </div>
</section>
{% endblock %}
