{% extends 'base.html' %}
{% block title %}Кинотеатры{% endblock %}
{% block content %}
<section class="cinemas-page">
  <h1>Кинотеатры</h1>
  <p class="cinemas-subtitle">Выберите кинотеатр и перейдите к его расписанию</p>

  <div class="cinemas-grid">
    {% for cinema in cinemas %}
      <article class="cinema-card">
        <h3>{{ cinema.name }}</h3>
        <p>{{ cinema.address }}</p>
        <a class="btn-secondary cinema-schedule-btn" href="{% url 'core:schedule_cinema' cinema.slug %}">Смотреть расписание</a>
      </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
