{% extends 'base.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
<section class="contacts-page">
  <h1>Контакты</h1>

  <article class="contact-card">
    <p class="contact-phone">+7 707 298 2006</p>
    <p class="contact-name">Сәбит Саян Асхатұлы</p>
    <p class="contact-mail">sabitsaan155@gmail.com</p>
  </article>

  <article class="contact-card">
    <p class="contact-phone">+7 707 815 34 17</p>
    <p class="contact-name">Гүльсым Жұмашева Бижановна</p>
    <p class="contact-mail">gulsumzhumashev221@gmail.com</p>
  </article>
</section>
{% endblock %}
